.player-card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0 0.5rem 0.5rem;
    position: relative;
    width: 150px;
    height: 200px;
    overflow-y: hidden;
    background-color: #f3e415;


    .player-img{
        max-width: 145px;
        height: 150px;
        object-fit: cover;
        align-self: center;
        margin-right: 1.5rem;
    }

    .score{
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -25px;
        left: calc(50% - 25px);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 1px solid black;
        font-weight: bold;
        padding: 0.1rem;

        &:hover {
            > .last-scores {
                display: flex;
            }
        }

        img{
            width: 49px;
            height: auto;
        }

        .last-scores{
            position: absolute;
            flex-direction: column;
            bottom: 70px;
            width: 100px;
            background-color: rgb(250, 169, 93);
            height: fit-content;
            z-index: 1;
            display: none;
            border-radius: 15px;
            border: 1px solid black;

            .last-score{
                color: black;
                background-color: rgb(250, 169, 93);
                border-radius: 15px;
                text-align: center;
            }

            .last-puntuation{
                background-color: rgb(0, 255, 200);
            }
        }


    }

    .owner{
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
        width: 7px;
        word-wrap: break-word;
        text-align:center;
        font-weight: bold;
        padding: 0.1rem;
        color: rgb(247, 247, 247);
        font-size: 0.8rem;
        border: 1px solid black;
        border-radius: 1rem;
        background-color: rgb(12, 56, 177);
    }

    .game-week{
        position: absolute;
        top: 9rem;
        right: 0;
        height: fit-content;
        width: fit-content;
        display: flex;
        justify-content: flex-end;
    }
    .game{
        position: absolute;
        right: 0;
        height: fit-content;
        width: fit-content;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        width: 51px;
        height: 50px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgb(146, 227, 24);
    }
    
    .no-game{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(237, 101, 101);
        font-weight: bold;
        font-size: 1rem;
        width: 100%;
        height: 100%;
    }

    .next-game{
        top: 3rem;
        img{
            width: 99%;
            height: auto;
        }
    }

    .second-next-game{
        top: calc(3rem + 51px);
        width: 40px;
        height: 40px;
        img{
            width: 99%;
            height: auto;
        }
    }

    .third-next-game{
        top: calc(3rem + 51px + 41px);
        width: 30px;
        height: 30px;
        img{
            width: 99%;
            height: auto;
        }
    }

    .country{
        position: absolute;
        right: 0;
        bottom: 0;
        height: fit-content;
        width: fit-content;
        display: flex;
        justify-content: flex-end;

        img{
            width: 45px;
            height: 32px;
            border: 1px solid black;
            border-radius: 5px;
        }
    }

}

.goalkeeper-border{
    border: 8px solid black;
}
.defender-border{
    border: 8px solid  blue;
}
.midfielder-border{
    border: 8px solid  green;
}
.forward-border{
    border: 8px solid  red;
}
.extra-border{
    border: 8px solid  grey;
}