.lineups-view {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid black;


      
    .lineups-header{
      height: var(--header-height);
      display: flex;

      .rubbish{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(235, 131, 131);
        width: 250px;
        height: var(--header-height);
        margin-right: 50px;
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        border-style: dashed;
        border: 1px dashed black;
      }

      .user-tags{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 95%;
      }
    }
    


    .select-team-section{
      display: flex;
      height: calc(99vh - calc(var(--header-height) * 2));
      box-sizing: border-box;
  
      .player-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 95%;
        flex: 1;
        box-sizing: border-box;
        overflow-y: scroll;
  
      }
  
      .lineups{
        position: relative;
        flex: 2;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .new-lineup-button{
          cursor: pointer;
          position: fixed;
          z-index: 2;
          right: 2rem;
          top: calc(var(--header-height) * 0.25);
          background-color: rgb(44, 219, 44);
          border-radius: 1rem;
          width: 15rem;
          height: 50px;
        }

        .global-transactions{
          height: fit-content;
          min-height: 2rem;
          border: 1px solid black;
          border-radius: 1rem;
          width: 99%;
          margin-bottom: 1rem;

          .transaction{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            &:not(:last-child){
              border-bottom: 1px solid black; 
            }
            
            .owner{
              width: 50%;

              .player{
                margin: 0.5rem;
                border: 1px solid black;
                border-radius: 1rem;
                background-color: yellow;
              }
            }
          }
        }
      }
    }
  
  }