.card-prices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;

    button{
        cursor: pointer;
        background-color: lightgreen;
        border-radius: 15px;
        font-size: 1rem;
        margin: 1rem;
        display: flex;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
    }

    h3{
        text-align: center;
    }
    .player-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 95%;
        flex: 3;
        box-sizing: border-box;
        overflow-y: scroll;

        .card-with-price{
            position: relative;
            margin-bottom: 35px;

            .update-price{
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #44ccee;
                border: 1px solid black;
                z-index: 1;
                &:hover{
                    background-color: #ee44d4;
                }
            }
            
        }
  
      }
}