.card-prices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;

    button{
        cursor: pointer;
        background-color: lightgreen;
        border-radius: 15px;
        font-size: 1rem;
        margin: 1rem;
        display: flex;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
    }

    h3{
        text-align: center;
    }
    .player-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 95%;
        flex: 3;
        box-sizing: border-box;
        overflow-y: scroll;

        .card-with-price{
            position: relative;
            margin-bottom: 35px;

            .price-section{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 180px;
                margin: auto;
                .price{
                    width: 60px;
                    height: 38px;
                    border-radius: 16px;
                    z-index: -1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                }

                .on-sale{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
    
                .buy-price{
                    width: 60px;
                    height: 38px;
                    border-radius: 16px;
                    z-index: -1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                }

                .prev-price{
                    width: 60px;
                    height: 38px;
                    border-radius: 16px;
                    z-index: -1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                }

                .is-recent{
                    border: 5px solid blue;
                }
            }
        }
  
      }
}