.lineup{
    background-color: rgb(17, 196, 77);
    position: relative;
    border: 1px solid black;
    height: 900px;
    margin: 1rem 0;

    .slot{
        position: absolute;
        width: 150px;
        height: 200px;
        background-color: grey;
        border-radius: 1rem;

        .delete{
            cursor: pointer;
            position: absolute;
            top: -30px;
            left: -30px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #ec7878;
            border: 1px solid black
        }
    }

    .lineup-total-score{
        top: 0;

        .score-diff{
        }
        .green{
            color: green;
        }
        .red{
            color: red;
        }
    }

    .goalkeeper{
        bottom: 50px;
        left: calc(50% - 75px);
    }
    .defender{
        left: 50px;
        bottom: 350px;
    }

    .midfielder{
        right: 50px;
        bottom: 350px;
    }

    .forward{
        top: 50px;
        left: 50px;
    }

    .extra{
        top: 50px;
        right: 50px;
    }
}