.price-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    margin: auto;
    .price{
        width: 60px;
        height: 38px;
        border-radius: 16px;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }

    .on-sale{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .normal{
        background-color: aquamarine;
        width: fit-content;
        height: fit-content;
        padding: 4px;
    }

    .prev-price{
        width: 60px;
        height: 38px;
        border-radius: 16px;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .price-border{
        border: 1px solid black;
    }

    .is-recent{
        border: 5px solid blue;
    }
}