.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);

    .menu{
        display: flex;
        justify-content: center;
    
        .menu-item{
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          font-weight: bold;
          background-color: rgb(224, 113, 62);
          margin-left: 1rem;
          border-radius: 10px;
          padding: 0 0.5rem;
        }

        .selected{
          background-color: green;
        }
    }
}